#banner {
  background-image: url("../img/banner_youtube.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;

  /* start     */
}
.container-fluid {
  max-width: 100%;
  height: auto;
}
body {
  /* margin-top: 10em; */
  -ms-overflow-style: none;
  width: 100%;
  height: auto;
  background-color: #fffafa;
  /* margin-bottom: 10em; */
}
::-webkit-scrollbar {
  display: none;
}
.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
/* end */
.video {
  width: 100%;
  max-width: 90rem;
  margin: 1rem auto;
  border-radius: 4rem;
  background-color: white;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #999;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
text1 {
  font-family: "Noto Sans KR";
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
  color: white;
}
@media screen and (min-width: 992px) {
  text1 {
    font-family: "Noto Sans KR";
    font-weight: bolder;
    text-align: center;
    font-size: 5.8rem;
    color: white;
  }
}
text2 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

text3 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 3px 3px 0px #dad7d7;
}
text4 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  text-shadow: 0px 1px #ffffff, 4px 4px 0px #dad7d7;
}
text5 {
  font-family: "Noto Sans KR";
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #dad7d7;
}

text6 {
  font-family: "Noto Sans KR";
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

text7 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: left;
  font-size: 1.8em;
  color: gray;
}
text7_1 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  text-align: right;
  font-size: 1.8em;
  color: gray;
}

text8 {
  font-family: "Noto Sans KR";
  font-weight: lighter;
  text-align: center;
  font-size: 2.8em;
  text-shadow: 1px 1px 0px #dad7d7;
}
